From: {{ name }} <{{ email }}>
To: submit@bugs.debian.org
Subject: ITP: {{ package }} -- {{ short_desc }}

Package: wnpp
Severity: wishlist
Owner: {{ name }} <{{ email }}>
X-Debbugs-CC: debian-devel@lists.debian.org, debian-go@lists.debian.org

* Package name    : {{ package }}
  Version         : {{ version }}
  Upstream Contact: {{ upstream }}
* URL             : {{ url }}
* License         : {{ license }}
  Programming Lang: Go
  Description     : {{ short_desc }}

{{ long_desc }}

TODO: reasoning perhaps

This package will be maintained within the Debian Go Packaging Team.
{% if not email.endswith('@debian.org') %}
I will need a DD to sponsor and upload this package.
{% endif %}

--
Kind regards,
{{ name }}
