Source: {{source}}
Section: golang
Priority: optional
Maintainer: Debian Go Packaging Team <team+pkg-go@tracker.debian.org>
Uploaders: {{ uploaders }}
Rules-Requires-Root: no
Build-Depends:
 {{ lib_deps|join(',\n ') }},
Testsuite: autopkgtest-pkg-go
Standards-Version: 4.7.0
Vcs-Browser: https://salsa.debian.org/go-team/packages/{{source}}
Vcs-Git: https://salsa.debian.org/go-team/packages/{{source}}.git
Homepage: {{ homepage }}
XS-Go-Import-Path: {{ go_import_path }}
